body {
    overflow: hidden;
}

#mainBody {
    position: absolute;
    background: #252525;
    width: 100%;
    height: 100%;
}

.Container {
    position:relative;
    
    display: flex;
    flex-direction: column;

    top: 0px;
    left: 47%;
    
    width: 33px;
    height: 120%;
}

.Item {
    flex: 1;

    width: 100%;
    height: 50px;

    background-color: rgb(164, 164, 164);
    margin-bottom: 100%;
}

#title {
    position: absolute;

    color: #00FFF0;
    font-family: 'Monoton',cursive;

    top: 3%;
    left: 23%;

    font-size: 5.4rem;
}

#line-left {
    position: absolute;
    
    width: 17px;
    height: 100%;

    top: 0px;
    left: 5%;

    background-color: rgb(164, 164, 164);
}

#line-right {
    position:absolute;
    
    width: 17px;
    height: 100%;

    top: 0px;
    left: 90%;

    background-color: rgb(164, 164, 164);
}

#mainButton {
    position: absolute;

    top: 70%;
    left: 40%;

    color:#FFE500;

    font-size: 2.5rem;
    font-weight: 600;
    font-family: "joti one",cursive;

    border: none;
    background-color: transparent;
}

@media only screen and (orientation: landscape) {
    #Container {
        left: 50%;
    }

    #line-left {
        left: 15%;
    }

    #line-right {
        left: 85%;
    }

    #title {
        left: 41%;
    }

    #mainButton {
        left: 45%;
    }
}