body {
    margin: 0px;
}

#page-not-found {
    position: absolute;

    background: #252525;

    width: 100%;
    height: 100%;
}

h1 {
    color: #ffffff;

    text-align: center;
    
    font-family: 'Piedra', cursive;
    font-size: 3rem;
}


li {
    margin-top: 0.5rem;

    font-family: 'Readex Pro', sans-serif;
    font-weight: 600;
    font-size: 23px;
}

a {
    color: #487BFF;
    text-decoration: none                                                   ;
}

ul {
    position: absolute;

    top: 40%;
    left: 5%;
}

h2 {
    font-family: 'Readex Pro', sans-serif;

    font-size: 1.6rem;
    font-weight: 600;

    line-height: 60rem;

    text-align: center;
}
