body {
    margin: 0px;

    background-color: #ACD4DD;

    overflow:  hidden;
}

#floor {
    position: relative;

    flex: 1;
    
    background-color: #D9D9D9;

    border-top: solid 2px black;
}